.growtype-map-taxonomy {
  width: 100%;

  .growtype-map-taxonomy-nav {
    display: flex;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 15px;
  }

  .growtype-map-taxonomy-item {
    .btn-img {
      margin-right: 2px;
      max-width: 15px;
      position: relative;
      top: -1px;
    }

    .btn-label {
      bottom: -1px;
      cursor: pointer;
      margin: 0;
      position: relative;
      font-size: 14px;
      text-align: left;
    }

    svg {
      max-width: 100%;
      width: 100%;
      height: 100%;
    }

    .btn {
      border: 1px solid #e5e5e5;
      cursor: pointer;
      padding-left: 15px;
      padding-right: 15px;
      display: flex;
      align-items: center;
      gap: 5px;

      &.is-active {
        background: $color-active;
        color: white;
      }
    }
  }
}
