.growtype-map-container {
  width: 100%;
  min-height: 500px;
}

.growtype-map-taxonomy {
  width: 100%;
}
.growtype-map-taxonomy .growtype-map-taxonomy-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  padding-top: 20px;
  padding-bottom: 15px;
}
.growtype-map-taxonomy .growtype-map-taxonomy-item .btn-img {
  max-width: 25px;
  margin-right: 2px;
  position: relative;
  top: -1px;
}
.growtype-map-taxonomy .growtype-map-taxonomy-item .btn-label {
  margin: 0;
  cursor: pointer;
  position: relative;
  bottom: -1px;
}
.growtype-map-taxonomy .growtype-map-taxonomy-item .btn {
  border: 1px solid #e5e5e5;
  cursor: pointer;
  padding-left: 17px;
  padding-right: 17px;
}
.growtype-map-taxonomy .growtype-map-taxonomy-item .btn.is-active {
  background: #191919;
  color: white;
}
